.container h1, 
.container h2,
.container h3 {
    /*left, center, right, justify*/
    text-align: center;
    /*italic, oblique*/
    font-style: italic;
    font-weight: 300; /*100,200, ..., 900. No google fonts ele mostra quais são regulares, light, etc*/
    color:cadetblue;
}

.container h1 {
    font-size: 3rem; /*3 rem = 48px*/
}

.container h2 {
    font-size: 2.5rem; /*= 40px*/
}

.container h3 {
    font-size: 2rem; /*= 32px*/
}

.container p {
    text-align: justify;
    font-size: 1.25rem; /*= 20px*/ /*16px é o padrão*/
}
/*
REM = Medida relativa ao elemento HTML, 1rem = 16px
*/

/*Elemento raiz*/
html {
    font-size: 8px; /*Fonte base na raiz. Agora o 1 rem passa a valer 8px, antes era o default (16px)*/
}